<div class="container-fluid">
    <div class="row">
        <div class="main col-md-offset-2 col-md-10 col-sm-10 col-sm-offset-2">
            <h1 class="page-header">Forms: Registration Form</h1>
            <ul class="nav nav-tabs">
                <li role="presentation"><a href="#/forms">Forms</a></li>
                <li role="presentation"class="active"><a href="#/fields">Fields</a></li>
            </ul>
            <div class="bordered sub-main">
                <div class="container-fluid">
                    <div class="row">
                        <div class="col-md-6">
                            <label class="control-label">First Name:</label>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6">
                            <input type="text" class="form-control" id="inputFirstName" placeholder="First Name">
                        </div>
                        <div class="col-md-6">
                            <div class="btn-toolbar">
                                <button type="button" class="btn btn-success pull-right">
                                    <span class="glyphicon glyphicon-list"></span>
                                </button>
                                <button type="button" class="btn btn-danger pull-right">
                                    <span class="glyphicon glyphicon-remove"></span>
                                </button>
                                <button type="button" class="btn btn-primary pull-right">
                                    <span class="glyphicon glyphicon-plus"></span>
                                </button>
                                <button type="button" class="btn btn-info pull-right">
                                    <span class="glyphicon glyphicon-pencil"></span>
                                </button>
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-md-6">
                            <label class="control-label lbl">Last Name:</label>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6">
                            <input type="text" class="form-control" id="inputLastName" placeholder="Last Name">
                        </div>
                        <div class="col-md-6">
                            <div class="btn-toolbar">
                                <button type="button" class="btn btn-success pull-right">
                                    <span class="glyphicon glyphicon-list"></span>
                                </button>
                                <button type="button" class="btn btn-danger pull-right">
                                    <span class="glyphicon glyphicon-remove"></span>
                                </button>
                                <button type="button" class="btn btn-primary pull-right">
                                    <span class="glyphicon glyphicon-plus"></span>
                                </button>
                                <button type="button" class="btn btn-info pull-right">
                                    <span class="glyphicon glyphicon-pencil"></span>
                                </button>
                            </div>
                        </div>
                    </div>


                    <div class="row">
                        <div class="col-md-6">
                            <label class="control-label lbl">Date of Birth:</label>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6">
                            <input type="date" class="form-control" id="inputDOB" placeholder="Enter date">
                        </div>
                        <div class="col-md-6 align-button">
                            <div class="btn-toolbar">
                                <button type="button" class="btn btn-success pull-right">
                                    <span class="glyphicon glyphicon-list"></span>
                                </button>
                                <button type="button" class="btn btn-danger pull-right">
                                    <span class="glyphicon glyphicon-remove"></span>
                                </button>
                                <button type="button" class="btn btn-primary pull-right">
                                    <span class="glyphicon glyphicon-plus"></span>
                                </button>
                                <button type="button" class="btn btn-info pull-right">
                                    <span class="glyphicon glyphicon-pencil"></span>
                                </button>
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-md-6">
                            <label class="control-label lbl">Gender:</label>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6">
                            <select id="inputGender" class="form-control">
                                <option value="Male">Male</option>
                                <option value="Male">Female</option>
                            </select>
                        </div>
                        <div class="col-md-6 align-button">
                            <div class="btn-toolbar">
                                <button type="button" class="btn btn-success pull-right">
                                    <span class="glyphicon glyphicon-list"></span>
                                </button>
                                <button type="button" class="btn btn-danger pull-right">
                                    <span class="glyphicon glyphicon-remove"></span>
                                </button>
                                <button type="button" class="btn btn-primary pull-right">
                                    <span class="glyphicon glyphicon-plus"></span>
                                </button>
                                <button type="button" class="btn btn-info pull-right">
                                    <span class="glyphicon glyphicon-pencil"></span>
                                </button>
                            </div>
                        </div>
                    </div>



                    <div class="row">
                        <div class="col-md-6">
                            <label class="control-label lbl">Roles:</label>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6 align-button">
                            <div>
                                <label>
                                    <input type="checkbox"> Admin
                                </label>
                            </div>
                            <div>
                                <label>
                                    <input type="checkbox"> Student
                                </label>
                            </div>
                            <div>
                                <label>
                                    <input type="checkbox"> User
                                </label>
                            </div>

                        </div>

                        <div class=  "col-md-6">
                            <div class="btn-toolbar">
                                <button type="button" class="btn btn-success pull-right">
                                    <span class="glyphicon glyphicon-list"></span>
                                </button>
                                <button type="button" class="btn btn-danger pull-right">
                                    <span class="glyphicon glyphicon-remove"></span>
                                </button>
                                <button type="button" class="btn btn-primary pull-right">
                                    <span class="glyphicon glyphicon-plus"></span>
                                </button>
                                <button type="button" class="btn btn-info pull-right">
                                    <span class="glyphicon glyphicon-pencil"></span>
                                </button>
                            </div>
                        </div>
                    </div>



                    <div class="row">
                        <div class="col-md-6">
                            <label class="control-label lbl">License Agreement:</label>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6 align-button">
                            <div>
                                <label>
                                    <input name="a" type="radio"> Yes
                                </label>
                            </div>
                            <div>
                                <label>
                                    <input name="a" type="radio"> No
                                </label>
                            </div>

                        </div>

                        <div class="col-md-6">
                            <div class="btn-toolbar">
                                <button type="button" class="btn btn-success pull-right">
                                    <span class="glyphicon glyphicon-list"></span>
                                </button>
                                <button type="button" class="btn btn-danger pull-right">
                                    <span class="glyphicon glyphicon-remove"></span>
                                </button>
                                <button type="button" class="btn btn-primary pull-right">
                                    <span class="glyphicon glyphicon-plus"></span>
                                </button>
                                <button type="button" class="btn btn-info pull-right">
                                    <span class="glyphicon glyphicon-pencil"></span>
                                </button>
                            </div>
                        </div>
                    </div>

                    <hr/>

                    <div class="row">
                        <div class="col-md-6">
                            <label class="control-label lbl">Add New Field:</label>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-md-6">
                            <select id="inputSelection" class="form-control">
                                <option value="Single Line Text">Single Line Text</option>
                                <option value="Date">Date</option>
                                <option value="Dropdown">Dropdown</option>
                                <option value="Checkboxes">Checkboxes</option>
                                <option value="Radio buttons">Radio buttons</option>
                                <option value="Paragraph Text Field">Paragraph Text Field</option>
                            </select>
                        </div>
                        <div class="col-md-6 align-button">
                            <div class="btn-toolbar">
                                <button type="button" class="btn btn-primary pull-right">
                                    <span class="glyphicon glyphicon-plus"></span>
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
