<div class="container-fluid">
    <div class="row">


        <div class="main col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2">
            <h1 class="page-header">Admin</h1>
            <h3>Users</h3>
            <div class="table-responsive ">
                <table class="table table-striped bordered">
                    <tr>
                        <th><span class="glyphicon glyphicon-triangle-bottom" ></span>Username</th>
                        <th><span class="glyphicon glyphicon-triangle-bottom" ></span>Password</th>
                        <th><span class="glyphicon glyphicon-triangle-bottom" ></span>Role</th>
                        <th><span class="glyphicon glyphicon-triangle-bottom" ></span>Action</th>
                    </tr>

                    <tr>
                        <td>
                            <input type="text" class="form-control" id="inputUsername" placeholder="username">
                        </td>
                        <td>
                            <input type="password" class="form-control" id="inputPassword3" placeholder="password">
                        </td>
                        <td>
                            <input type="text" class="form-control" id="inputRole" placeholder="role1, role2">
                        </td>

                        <td>
                            <div class="btn-toolbar">
                                <button type="button" class="btn btn-primary">
                                    <span class="glyphicon glyphicon-plus"></span>
                                </button>

                                <button type="button" class="btn btn-success">
                                    <span class="glyphicon glyphicon-ok"></span>
                                </button>
                            </div>
                        </td>
                    </tr>

                    <tr>
                        <td>alice</td>
                        <td></td>
                        <td>student</td>
                        <td>
                            <div class="btn-toolbar">
                                <button type="button" class="btn btn-danger">
                                    <span class="glyphicon glyphicon-remove"></span>
                                </button>

                                <button type="button" class="btn btn-info">
                                    <span class="glyphicon glyphicon-pencil"></span>
                                </button>
                            </div>
                        </td>
                    </tr>


                </table>
            </div>
        </div>
    </div>
</div>

